
<div id="center">
  <div id ="blog">
    <h4>About Me</h4>
    <%= image_tag "arrow2.jpg", id: "arrow" %>
    <%= image_tag "paul.jpg", id: "paulpic" %>
    <p><b>Hello and welcome to my brand new portfolio site.</b><br/>
      I am an ambitious developer with a special interest in Ruby on Rails, I have completed
      a Higher Diploma in Web Technologies at the National College of Ireland where a very patient tutor helped to give me the knowledge
      and appreciation of rails. My Higher Diploma was graded with a first class honors.</p>
    <p>I am relatively new to the developing world as i have spent most of my career in retail
      i always knew that i could achieve more, but i needed that push to move away from retail.
      When i lost my job i took that as an opportunity to restart and redirect my career in to
      development.</p>

    <hr/>

    <h4>Qualification</h4>
    <p>I have completed a <%= link_to 'Higher Diploma in Science in Web Technologies', 'http://www.ncirl.ie/Programmes_Courses/Part-time-Courses/Higher-Diploma-in-Science-in-Web-Technologies-HDSWTECH1' %> HETAC level 8
      at <%= link_to 'The National College of Ireland', 'http://ncirl.ie/' %>. Information on my course is available
      through the links provided.<br/><br/>Grade: First Class Honours</p>
    <hr/>
    <h4>Why Rails ?</h4>
    <p>Since 2012 Ruby on Rails has become my favourite technology to use. I have just finished building my final project which is a social network with exciting features using rails.
    </p>
    <p>I enjoy working in rails because it is so productive and is only limited by the
      developer’s imagination, it can transform my ideas in to powerful working applications that people can use and enjoy. </p>
    <hr/>
    <h4>Internship or Junior role</h4>
    <p>I am looking to hear from companies that would like to take me on as a Ruby on Rails intern,
      in return i can offer my hard work to contribute some value and also loyalty to the company.</p>
    <p>I would also like to hear about any junior or entry level positions as a Ruby on Rails developer, if
      the position matches my current skill level.</p>

    <p>I am based in Dublin, Ireland but it would be interesting to hear from companies outside of Ireland also.</p>
  </div>
</div>
